@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: 'Fauna One', serif;
	background: #FFF;
	color: #555;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
}

header {
	text-align: center;
}

header a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #999;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.main {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

article:not(:last-child) {
	margin: 30px 0;
}

article:last-child {
	margin-bottom: 20px;
}

article > footer > header > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

article > footer > header > h3 {
	color: #999;
}

article > footer {
	color: #CCC;
}

article footer header ul li {
	display: inline;
	margin: 0 5px;
	text-transform: capitalize;
}

article > footer {
	padding-bottom: 20px;
}

body > footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background: #F9F9F9;
  color: #999;
  margin-top: 20px;
}

body > footer > h4 {
	font-weight: normal;
	color: #999;
}

body > footer > h4 > a {
	text-decoration: none;
	color: #777;
	font-weight: bold;
}

.icon-heart {
	color: #faa6c0;
}

#loading-bar .bar {
	background: #000;
}

#loading-bar .peg {
	box-shadow: #000 1px 0 6px 1px;
}

[ng-cloak] {
	display: none;
}

pre {
	overflow-x: auto;
}